input:focus {
    border: 2px solid var(--color-text);
    outline: none;
}
input[type="checkbox"]{
  accent-color: var(--color-component);
  width: 15px;
  height: 15px;
}
.border-color{
    border-color: var(--color-text);
}